/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Colors
$sky-blue: #282D33;
$cream: #F8F3E6;
$blue: #4d5887;
$orange: #EC9706;
$pink: #f53b5d;
$black: #000000;
$purple: #7852A9;

// Sidebar specific
$sidebar-bg: $sky-blue;
$sidebar-fg: $cream;
$sidebar-hl: $orange;

// Base
$body-bg: $cream;
$body-color: $black;
$footer-bg: $cream;
$link-color: $blue;

// Fonts
$font-family: 'IBM Plex Mono', monospace;

// TOC
$toc-font-size: 11px;
$toc-active-border: $orange;

// Callouts
$callout-color-note: $blue;
$callout-color-tip: $purple;
$callout-color-caution: $orange;
$callout-color-important: $pink;

/* --- Sidebar --- */
.sidebar {
  background-color: $sidebar-bg;
  color: $sidebar-fg;
  width: 240px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  
  overflow-y: auto;

  a {
    color: $sidebar-fg;
    text-decoration: none;
    display: block;
    padding: 0.5em 0;
    transition: 0.3s;

    /* Bigger icon styling */
    i, svg {
      font-size: 1.5em; // Change this to 2em or more if you want even bigger
      vertical-align: middle;
      margin-right: 0.5em; // optional: adds space between icon and text
    }

    &:hover {
      color: $sidebar-hl;
      transform: translateX(5px);
    }
  }
}

/* Content area (so it doesn't go under the sidebar) */
main {
    margin-left: 30px;
    padding: 1.5em 2em;
}

/* Body */
body {
    font-size: 14px;
    font-family: $font-family;
    background-color: $body-bg;
    color: $body-color;
}

/* Typography */
.title {
  margin-top: 2em !important;
  margin-bottom: 1.5em;
  font-size: 28px;
  font-weight: 500;
}

.left {
  text-align: left;
  padding-left: 1em;
}
.right {
  text-align: right;
  padding-right: 1em;
}

/* Headings */
h1 {
  font-size: 24px;
  font-weight: 500;
}
h2 {
  font-size: 21px;
  font-weight: 500;
}
h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
}

/* Callouts */
.callout.callout-style-default .callout-body {
  font-size: 0.75rem;
}