/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Colors
$sky-blue: #282D33;
$cream: #F8F3E6;
$blue: #4d5887;
$orange: #EC9706;
$pink: #f53b5d;
$black: #000000;
$purple: #7852A9;

// Base document colors
$sidebar-bg: $sky-blue; // sidebar background
$sidebar-fg: $cream; // sidebar foreground elements
$sidebar-hl: $orange; // highlight color when hovering over sidebar links
$body-bg: $cream; // page background 
$body-color: $black; // page text 
$footer-bg: $cream; // footer 
$link-color: $blue; // hyperlinks 

// fonts
$font-family: 'IBM Plex Mono', monospace;

// toc 
$toc-font-size: 11px;
$toc-active-border: $orange;

// callouts
$callout-color-note: $blue;
$callout-color-tip: $purple;
$callout-color-caution: $orange;
$callout-color-important: $pink;


/*-- scss:rules --*/
.sidebar {

  a {
    color: $sidebar-fg;
    text-decoration: none;
    display: block;
    padding: 0.5em 0;
    transition: color 0.3s, transform 0.3s;

    /* Bigger icon styling */
    i, svg {
      font-size: 1.5em; // Change this to 2em or more if you want even bigger
      vertical-align: middle;
      margin-right: 0.5em; // optional: adds space between icon and text
    }

    &:hover {
      color: $orange;
      transform: translateX(5px);
    }
  }

  /* Newly added active link style */
  a.active {
    color: $orange;
    font-weight: bold;
    transform: translateX(5px);
  }
}

.title {
  margin-top: 2em !important;
  margin-bottom: 1.5em;
  font-size: 28px;
  font-weight: 500;
}

body {
  font-size: 14px;
  font-family: $font-family;
}

.left {
  text-align: left;
  padding-left: 1em;
}
.right {
  text-align: right;
  padding-right: 1em;
}

/* Heading 1 */
h1 {
  font-size: 24px;
  font-variant: normal; 
  font-weight: 500; 
}

/* Heading 2 */
h2 {
  font-size: 21px;
  font-variant: normal; 
  font-weight: 500; 
}

/* Heading 3 */
h3 {
  font-size: 18px;
  font-variant: italic; 
  font-weight: 500; 
}

.callout.callout-style-default .callout-body {
  font-size: 0.75rem;
}
